:root {
  --main-colour: #3D3D3D;
  --highlight-colour: #0D0D0D;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* background-color: grey; */
  font-family: sans-serif;
  min-width: 300px;
  color: var(--main-colour);
}

h1 {
  text-align: center;
}

h1, h2 {
  color: var(--highlight-colour);
}

#container {
  width: 70%;
  max-width: 900px;
  padding: 1rem;
  background-color: white;
  margin: auto;
}

footer {
  text-align: center;
  margin-top: 1rem;
  border-top: 2px solid var(--main-colour);
}

@media screen and (max-width: 900px) {
  #container {
    width: 100%;
  }
}