* {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* background-color: grey; */
  font-family: sans-serif;
  min-width: 300px;
}

h1 {
    text-align: center;
}

#container {
    width: 70%;
    max-width: 900px;
    padding: 1rem;
    background-color: white;
    margin: auto;
}

@media screen and (max-width: 900px) {
  #container {
    width: 100%;
  }
}